<section class="bg-gray-50 dark:bg-gray-900">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">

    <div
      class="w-full bg-linear-to-br from-sky-100 to-sky-700 rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
          Sign in to your account
        </h1>


        <form #form (ngSubmit)="onSubmit();" [formGroup]="loginForm" action="#" class="space-y-4 md:space-y-6">
          <div>
            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="email"> Your
              email: </label>
            <input [formControl]="loginForm.controls.email"
                   class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-purple-600 focus:border-purple-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                   id="email" name="email"
                   placeholder=""
                   required="" type="email">
            @if (email.invalid && email.touched && email.dirty) {
              <p class="error-msg"> Bitte geben Sie eine gültige E-Mail Adresse ein.</p>
            }
          </div>

          <div>
            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="password">Password:</label>

            <input [formControl]="password" [type]="showPassword ? 'text' : 'password'"
                   class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-purple-600 focus:border-purple-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                   id="password"
                   name="password" placeholder=""
                   required=""
                   type="password">
            @if (password.invalid && password.touched && password.dirty) {
              <p class="error-msg"> Bitte geben Sie eine gültige Password ('min 6 Stellig') ein.</p>
            }
          </div>

          <button
            class="w-full text-white bg-sky-900 hover:bg-sky-950 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-800"
            type="submit">
            Einloggen
          </button>

          <!-- Button zum Anzeigen oder Verbergen des Passworts -->
          <button
            (click)="showPassword = !showPassword"
            class="w-full text-white bg-sky-900 hover:bg-sky-950 focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-800"
            type="button">
            {{ showPassword ? ' Passwort verbergen' : ' Passwort anzeigen' }}
          </button>
          <a href="#" class="text-sm font-medium text-sky-950 hover:underline dark:text-primary-500">Forgot
            password?</a>
          <p>
            <a href="/register" class="text-sm font-medium text-sky-950 hover:underline dark:text-sky-950">   Don’t have an account yet? Sign up!</a>
          </p>
          @if (errorMessage){
            <p>{{ errorMessage }}</p>
          }


        </form>

      </div>
    </div>
  </div>
</section>


