<div class="min-h-screen flex flex-col">
  <!-- Navbar -->
  <nav class="bg-sky-800 text-white px-6 py-4 flex justify-between items-center shadow">
    <div class="">
      <div class="text-2xl font-bold tracking-wide">

        <!-- Menü links -->
        <div class="space-x-6 text-lg hidden md:flex">
          <a class="hover:text-gray-200 cursor-pointer" (click)="selectedMenu = 'dashboard'">Dashboard</a>
          <a class="hover:text-gray-200 cursor-pointer" (click)="selectedMenu = 'events'">My Events</a>
          <a class="hover:text-gray-200 cursor-pointer" (click)="selectedMenu = 'tasks'">Tasks</a>
          <a class="hover:text-gray-200 cursor-pointer" (click)="selectedMenu = 'settings'">Settings</a>
        </div>
      </div>

      <!-- User Avatar (rechte Seite) -->
      <div class="relative-group mask-bottom-right">
        <img [src]="user.avatar" alt="Avatar" type="file"
             class="w-30 h-30 rounded-4xl object-cover border-2 border-white cursor-pointer mask-bottom-right">
        <div class="px-2 py-2 font-semibold">{{ email() }}&nbsp;&bullet;&nbsp;{{ displayName() }}</div>
      </div>
    </div>
  </nav>

  <!-- Main Content: Sidebar + Main Panel -->
  <div class="flex flex-1">
    <!-- Sidebar -->
    <aside class="w-64 bg-gray-900 text-gray-100 p-6 space-y-4 md:block">
      <div class="text-lg font-semibold md-4">Menu</div>
      <div class="border-t"></div>
      <ul class="space-y-2">
        <li>
          <a class="block px-3 py-2 hover:bg-gray-700 rounded cursor-pointer" (click)="selectedMenu = 'events'">My Events</a>
        </li>
        <li>
          <a class="block px-3 py-2 hover:bg-gray-700 rounded cursor-pointer" (click)="selectedMenu = 'tasks'">Tasks</a>
        </li>
        <li>
          <a class="block px-3 py-2 hover:bg-gray-700 rounded cursor-pointer" (click)="selectedMenu = 'settings'">Settings</a>
        </li>
        <li>
          <a class="block px-3 py-2 hover:bg-gray-700 rounded cursor-pointer" href="/" (click)="onLogOut()">Logout</a>
        </li>
      </ul>
    </aside>

    <!-- Main Panel -->
    <main class="flex-1 p-6 overflow-y-auto">
      <!-- Dashboard content -->
      <div *ngIf="selectedMenu === 'dashboard'">
        <h1 class="text-2xl font-bold mb-4">Willkommen im Dashboard!</h1>
        <!-- buraya istersen dashboard ana içeriği ekleyebilirsin -->
      </div>



      <!-- Tasks content -->
      <app-tasks *ngIf="selectedMenu === 'tasks'"></app-tasks>

    </main>
  </div>
</div>
